NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_CAMPUS_ESCROW_ADDRESS=
NEXT_PUBLIC_CAMPUS_IDENTITY_ADDRESS=
NEXT_PUBLIC_QUAI_RPC_URL=https://orchard.rpc.quai.network/cyprus1
NEXT_PUBLIC_QUAI_CHAIN_ID=15000
